@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blinker";
  src: url("../src/assets/fonts/Blinker/Blinker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: BlinkerBold;
  src: url("../src/assets/fonts/Blinker/Blinker-Bold.ttf");
}

@font-face {
  font-family: BlackOpsOneFont;
  src: url("../src/assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf");
}

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  * {
    @apply box-border m-0 p-0;
  }

  body {
    @apply min-h-screen h-full overflow-y-auto
           font-sans text-base font-normal antialiased
           text-footerProfileNameColor dark:text-white;
  }

  h2,
  h3 {
    @apply text-footerProfileNameColor dark:text-white;
  }

  h2 {
    @apply text-4xl md:text-5xl font-bold;
  }

  h3 {
    @apply text-xl md:text-2xl font-bold;
  }

  a,
  button,
  summary {
    @apply cursor-pointer transition-all duration-500 ease-in-out;
  }

  button {
    @apply px-8 py-2 text-base font-medium text-white bg-navSignupButton border border-navSignupButton rounded-lg shadow
           hover:bg-neutral-300 hover:text-footerProfileNameColor hover:shadow-lg hover:border-neutral-300
           focus:bg-neutral-300 focus:text-footerProfileNameColor
           dark:text-footerProfileNameColor dark:hover:text-white
           dark:hover:bg-neutral-600  dark:hover:border-neutral-600
           dark:focus:bg-neutral-600 dark:focus:text-white;
  }

  summary {
    @apply text-[#101828] font-bold text-lg dark:text-white;
  }
}

@layer components {
  .btn-outline {
    @apply bg-transparent border border-neutral-300 text-footerProfileNameColor
           hover:border-neutral-300;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

summary::after {
  display: inline-flex;
  margin-left: auto;
  content: url("./assets/images/detailsSummaryButton/orangeButtonPlus.svg");
}

details[open] > summary::after {
  content: url("./assets/images/detailsSummaryButton/orangeButtonMinus.svg");
}
